/* You can add global styles to this file, and also import other style files */

.ant-form-item-control pre {
    line-height: 1.4 !important;
}

pre {
  background-color:#aaa3;
  border-radius: 5px;
  padding: 0.7rem;
  border: 1px solid#aaa3;
}
